:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --desaturated-blue: hsl(229, 23%, 23%);
  --grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);

  --fs-name: 1.125em;
  --font-family: "Kumbh Sans", sans-serif;

  --size-50: 0.25em;
  --size-100: 0.5em;
  --size-200: 1em;
  --size-300: 1.5em;
  --size-400: 2em;
  --size-500: 2.5em;
  --size-600: 3em;
  --size-700: 3.5em;
  --size-800: 5em;
  --size-900: 5.5em;
  --size-xl: 7em;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* general styling */
body {
  background-repeat: no-repeat, no-repeat;
  background-position: top -500px left -700px, bottom -500px right -700px;
  background-image: url("./images/bg-pattern-top.svg"),
    url("./images/bg-pattern-bottom.svg");
  background-color: var(--dark-cyan);
}

@media screen and (min-width: 40em) {
  body {
    background-repeat: no-repeat, no-repeat;
    background-position: top -500px left -400px, bottom -700px right -250px;
  }
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--desaturated-blue);
  font-size: var(--fs-name);
  font-weight: 700;
}

p,
span {
  color: var(--grayish-blue);
  padding-top: var(--size-50);
}
/* component styles */
.card {
  background-color: white;
  border-radius: var(--size-200);
  overflow: hidden;
  z-index: 100;
  margin: var(--size-300);
}

.content {
  position: relative;
  text-align: center;
  border-bottom: 1px solid lightgray;
  padding-top: var(--size-800);
  padding-bottom: var(--size-300);
}

.profile {
  position: absolute;
  border: 6px solid white;
  border-radius: 50%;
  top: -30%;
  left: 50%;
  transform: translateX(-50%);
}

.tag {
  font-weight: normal;
  padding-left: var(--size-50);
}

footer {
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding: var(--size-300);
}

footer p {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
}
